<div class="container my-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-info">
                <div class="card-header">
                    <h2 class="card-title">Nombre</h2>
                    <h3 class="card-subtitle text-light">{{ empleado.nombre }} {{ empleado.apellido }}</h3>
                </div>
                <div class="card-footer">
                    <h2 class="card-title">Cedula</h2>
                    <h3 class="card-subtitle text-light">{{ empleado.cedula }} </h3>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="card bg-warning">
                <img src="../../../assets/img/man.png" alt="Icono" class="card-img-overlay my-2 mx-auto h-25">
                <p class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore temporibus veritatis id? Sequi facilis voluptates suscipit voluptatem eveniet neque dolore, nobis deserunt voluptas quae, tempore repudiandae quis veniam, sint autem.
                </p>
            </div>
        </div>
    </div>
</div>